@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 1rem;
    min-height: 100%;
}

.header-layout {
    grid-area: header;
}

.navbar-layout {
    grid-area: navbar;
    display: none;
}

.main-layout {
    grid-area: main;
}

.grid-container {
    display: grid;
    grid-template:
        "header" auto
        "main" 1fr;
}

.nav-items-container {
    display: grid;
    padding: 10px;
}

@media (min-width: 576px) {
    .grid-container {
        grid-template:
            "header" auto
            "main" 1fr;
    }
}

@media (min-width: 992px) {
    .grid-container {
        grid-template:
            "header  header header" auto
            "navbar  main   main" 1fr /
            250px    1fr    1fr;
    }
    .navbar-layout {
        display: block;
    }
}
