// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-table/dist/bootstrap-table.css';
// Layout
@import 'layout';

.nav-link {
    color: #000;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
